<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <nav class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
       
          <a class="nav-link" [routerLink]="['about']">About</a>
        
          <a class="nav-link" [routerLink]="['contact-us']">Contact-Us</a>
      </nav>
      <!-- Left links -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <div class="user-name">
              <img class="user-icon" src="./assets/images/user.jpeg">
              {{user}}
        </div>
      </div>
      <!-- Right elements -->

    </div>
    <!-- Collapsible wrapper -->
   
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->