/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.menu {
    margin-top: 10%;
    font-size: x-large;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-green {
    background-color: #198754;
    color: white;
}

.ml-10 {
    margin-left: 10px;
}